<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
      <link rel="stylesheet" href="<%= css %>">
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="item-header">
        <img class="header-image mebkln" src="/images/recipes/ramen.gif">
        <h1 class="centered-on-item-header futura">Recipes</h1>
      </div>
      <br>
      <div class="container">

          <% for (var i = 0; i < items.length; i++) { %>
            <div class="d-md-flex flex-md-equal w-100 overflow-hidden">
            <div class="row">
            <% for (var x = 0; x < items[i].length; x++) { %>
                  <div class="col-md-4 text-center">

                        <div class="imgwrapper">
                          <a href="<%=items[i][x].link %>" class="">
                            <img src="<%= items[i][x].image %>" class="img-thumbnail img-fluid img-responsive">
                          </a>
                          <h1><%=items[i][x].title%></h1>
                          <h5>Author: <%=items[i][x].author%></h5>

                          <% if (items[i][x].auth !== null) {%>
                              <a href="<%=items[i][x].link %>">
                                <button type="button" class="btn btn-danger">LOCKED</button>
                              </a>
                              <br>
                              <br>
                            <%}%>
                        </div>

                  </div>
              <% } %>
              </div>
            </div>
            <% } %>
      </div>
    </main>

    <% include ../partials/footer %>

  </body>
</html>
<!--        <div class="row">
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
        </div> -->
