<!DOCTYPE html>
<html lang="en">
  <head>
      <meta property="og:title" content="<%= recipe.title %>"/>
      <meta property="og:image" content="<%=recipe.image%>"/>
      <% include ../partials/head %>
      <link rel="stylesheet" href="<%= css %>">
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>
    <div class ="item-header">
      <img class="header-image item-image" src="<%= recipe.image %>">
      <h1 class="centered-on-item-header"><%= recipe.title %></h1>

    </div>
    <br>
    <div class="container">
    <!-- Portfolio Item Row -->
          <div class="row">
            <div class="col-md-8">
              <!-- Portfolio Item Heading -->
              <h1><%= recipe.title %></h1>
                <h2><%= recipe.servings %></h2>
                <h3><%= recipe.time %></h3>

              <div class="imgwrapper">
                <img src="<%=recipe.image%>" class="img-thumbnail img-fluid img-responsive">
              </div>
            </div>

            <div class="col-md-4">
              <br>
              <h3>Ingredient List</h3>
                <table class="table">
                  <tr>
                    <th>Ingredient</th>
                    <th>Amount</th>
                  </tr>

                  <% for(let i=0; i < recipe.ingredients.length; i++) { %>

                    <tr>
                      <td><%= recipe.ingredients[i].name %></td>
                      <td><%= recipe.ingredients[i].quantity %></td>
                    </tr>
                  <% } %>
              </table>
            </div>

          </div>
          <!-- /.row -->
          <div class="container">
          <h2>Process</h2>
          <ol class="list-group">
          <% for(let i=0; i < recipe.steps.length; i++) { %>

              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= recipe.steps[i].title %></h4>
                <p class="list-group-item-text"><%= recipe.steps[i].description %></p>
              </li>
          <% } %>
          </ol>
        </div>
        <br>
        <div class="container text-center">
          <a href="/recipes/all"><button type="button" class="btn btn-success">Back to all recipes.</button></a>
        </div>
      </div>


    <% include ../partials/footer %>
  </body>
</html>
